*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    background-color: #f9f9f9;
}

h1,h2,h3,h4,ul{
    font-family: Poppins,sans-serif;
}

p{
    font-family: sans-serif;
}


#navbar .container{
    padding: 20px;
    background-color: #f9f9f9;
    margin: 5px 15px;
}

.container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}


ul{
    display: flex;
    align-items: center;
}

ul li{
    list-style: none;
    margin: 0 20px;
    font-size: 20px;
}

ul li a{
    text-decoration: none;
    color: rgb(253, 13, 13);
    font-weight: 600;
}
ul li a:hover{
    color: #000;
}


/* search section start here */

#search{
    width: 100%;
    height: 250px;
    font-family: sans-serif;
    background: url(./images/dishes.jpg);
    background-size: cover;
}


.container-search{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    position: relative;
    opacity: 0.8;
    background-color: #000;
}


.search-bar{
    padding: 10px 200px;
    border-style: none;
    font-size: 18px;
    border-radius: 5px;
    z-index: 1;
    position: relative;
    top: 60px;
    opacity: 1;
}

.search-button{
    padding: 10px 20px;
    border-style: none;
    font-size: 18px;
    border-radius: 5px;
    background-color: rgb(253, 13, 65);
    color: #f9f9f9;
    opacity: 1;
    position: relative;
    top: 60px;
}

.search-button:hover{
    background-color: blue;
}

/* search section ends here */

#explore{
    padding: 100px 20px;
}

#explore h1{
    text-align: center;
    font-size: 3.0rem;
    margin-bottom: 40px;
}


.container-explore{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.food-div{
    width: 400px;
    height: 250px;
    position: relative;
    background-color: #000;
    border-radius: 20px;
    /* background-color: red; */
}

.food-div img{
    border-radius: 20px;
    width: 100%;
    height: 100%;
    opacity: 0.7;
}

.food-div h2{
    position: absolute;
    display: inline-block;
    left: 100px;
    top: 160px;
    color: #f9f9f9;
    font-family: sans-serif;
    font-weight: bold;
}



/* food menu section starts here */

#food-menu{
    padding: 120px 20px;
    background-color: #e9e9e9;
}

#food-menu h1{
    text-align: center;
    font-size: 3.0rem;
    margin-bottom: 40px;
}


.food-menu-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between; /* Optional: ensures even spacing */
}

.food {
    display: flex;
    flex-basis: calc(50% - 20px); 
    padding: 20px 10px;
    background-color: white;
    margin: 10px; 
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: 0 0 0.7 #000;
}

.food-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0 10px;
}

.food-img{
    width: 50%;
}

.food-img img{
    width: 150px;
    height: 100px;
    border-radius: 10px;
}

.btn{
    width: 100px;
    padding: 10px 10px;
    margin-top: 10px;
    font-family: Poppins;
    border-style: none;
    border-radius: 10px;
    background-color: rgb(253, 13, 65);
    color: #fff;
    font-weight: 500;
}

.cta-text a{
    text-decoration: none;
    text-align: center;
    margin-top: 30px;
    font-size: 1.10rem;
    font-family: poppins;
    color: rgb(253, 13, 65);
    font-weight: 500;
}


.cta-text{
    text-align: center;
    margin-top: 30px;
    font-size: 1.10rem;
    font-family: poppins;
    color: rgb(253, 13, 65);
    font-weight: 500;
}



.cta-text a:hover{
    text-decoration: underline;
    color: blue;
}


.food-name, .food-price{
    margin: 5px 0;
}

.food-price{
    font-size: 1.10rem;
    font-weight: 500;
}

.food-description{
    width: 70%;
}
/* food menu section ends here */